.trip-wrap {
    padding: 30px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../assets/logos/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}